/node_modules
/public/images
/images
/public/storage
/storage/*.key
/vendor
/phpqrcode
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.DS_Store
